<form [formGroup]="form" (ngSubmit)="onBookingSubmitted()" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-4 text-center text-blue-600">Réserver un créneau</h2>
    
    <div class="mb-4">
      <label for="startedAt" class="block text-gray-700 font-medium mb-2">Date de début:</label>
      <input id="startedAt" type="datetime-local" formControlName="startedAt" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:ring-blue-500"/>
      <div *ngIf="form.get('startedAt')?.invalid && (form.get('startedAt')?.touched)" class="text-red-600 mt-1">
        <div *ngIf="form.get('startedAt')?.errors?.['required']">La date de début est requise.</div>
      </div>
    </div>
  
    <div class="mb-4">
      <label for="finishedAt" class="block text-gray-700 font-medium mb-2">Date de fin:</label>
      <input id="finishedAt" type="datetime-local" formControlName="finishedAt" class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:ring-blue-500"/>
      <div *ngIf="form.get('finishedAt')?.invalid && (form.get('finishedAt')?.touched)" class="text-red-600 mt-1">
        <div *ngIf="form.get('finishedAt')?.errors?.['required']">La date de fin est requise.</div>
        <div *ngIf="form.errors?.['dateInvalid']">La date de fin doit être après la date de début.</div>
      </div>
    </div>
  
    <button type="submit" [disabled]="form.invalid" class="w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition duration-200">
      {{bookingToEdit ? 'Changer' : 'Soumettre'}}
    </button>
</form>