<!-- <div *ngIf="isVisible$ | async" class="flex">
    <div class="m-auto">
      <h1 router-link="/" class="">E L E C R O A D</h1>
    </div>
    <div *ngIf="token$ | async" class="flex justify-end">
      <a routerLink="/power/list">Puissances</a>
      <button (click)="onClikLogOut()">LogOut</button>
    </div>
</div>
 -->




 <header class="bg-white shadow">
  <div class="container mx-auto py-4 px-6 flex items-center justify-between">
    <!-- Logo (Replace with your actual logo) -->
    <div class="text-xl font-bold text-gray-800">Logo</div>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-6">
      <a class="text-gray-600 hover:text-gray-800" routerLink="/">Accueil</a> <!-- Use routerLink -->
      <a class="text-gray-600 hover:text-gray-800" routerLink="#">Services Offerts</a>
      <a class="" routerLink="/power">A Propos</a>
      <div class="relative">
        <button class="text-gray-600 hover:text-gray-800 flex items-center">
          Contactez-Nous
          <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <!-- Add dropdown content here if needed -->
      </div>
    </nav>

    <!-- Authentication Buttons -->
    <div class="hidden md:flex space-x-4">
      <a href="/login" *ngIf="!(token$ | async)"  class="bg-indigo-600 text-white rounded-md px-4 py-2 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1">Se Connecter</a>
      <a href="/register" *ngIf="!(token$ | async)"  class="bg-indigo-600 text-white rounded-md px-4 py-2 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1">S'inscrire</a>
      <button *ngIf="token$ | async" (click)="onClikLogOut()" class="bg-red-600 text-white rounded-md px-4 py-2 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-1">Se Déconnecter</button>
    </div>

    <!-- Hamburger Menu (for mobile) -->
    <button class="md:hidden text-gray-600 hover:text-gray-800 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </button>
  </div>
</header>